::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}
  
  /* Track */
*::-webkit-scrollbar-track {
    background: transparent;
}
  
  /* Handle */
*::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  
body {
    font-family: 'Nunito' !important;
}
.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-container,
.page-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #FAFBFD;
}
.page-container {
    flex: 1;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.main-container .main-pane {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex: 1;
}

.main-container .side-pane {
    display: flex;
    height: 100%;
    width: 273px;
    margin: 0 78px 0 35px;
}

.main-container .main-pane .thumbnail {
    display: flex;
    height: 100%;
    width: 235px;
    margin: 0 35px 0 45px;
}

.main-container .main-pane .workspace {
    display: flex;
    height: 100%;
    padding: 0 25px;
    flex: 1;
}