::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}
  
  /* Track */
*::-webkit-scrollbar-track {
    background: transparent;
}
  
  /* Handle */
*::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-container,
.page-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background: #FAFBFD;
}
.page-container {
    flex: 1;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: row;
}
.main-container .main-pane {
    display: flex;
    flex: 1;
}
.main-container .side-pane {
    display: flex;
}