.header-container {
    height: 108px;
    width: 100%;
    border-radius: 0px;
    background: #FFFFFF;
    display: flex;
    padding: 0 30px;
    align-items: center;
}

.header-container .header-icons-list {
    margin: 0 40px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.header-container .header-spacer {
    flex-grow: 1;
}

.header-container .header-menu-list {
    padding: 0 30px;
    display: flex;
    
}
.header-container .header-menu-list .menu-items {
    padding: 18px;
    color: black;
    display: flex;
    align-items: center;
}

.header-container .header-menu-list .menu-items p {
    margin: 0 0 0 10px;
    font-size: 15px;
}