.title-bar-container {
    height: 105px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 78px 0 45px;
}

.title-bar-container .title-bar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.title-bar-container .title-bar-nav .back-button {
    height: 32px;
    width: 32px;
    margin: 0px 13px 0 0;
    order: 0;
}

.title-bar-container .title-bar-nav .title {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;

    color: #383838;

    /* Inside Auto Layout */
    order: 1;
    margin: 0px 13px 0 0;
}
.title-bar-container .title-bar-nav .edit-icon {
    width: 15px;
    height: 15px;
    order: 2;
    margin: 0px 13px 0 0;
}
.title-bar-container .title-bar-nav .location {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
}
.title-bar-container .title-bar-nav .location .location-ic {
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
}
.title-bar-container .title-bar-nav .location .location-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #898B96;
}


.title-bar-container .title-bar-button {
    display: flex;
}
.title-bar-container .title-bar-button .saving-indicator {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 0;
    
    font-weight: 400;
    font-size: 12px;
    
    color: #898B96;
}
.title-bar-container .title-bar-button .saving-indicator p {
    margin: 0 0 0 5px;
}